<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="TBSContext"
      providerName="System.Data.SqlClient"
      connectionString="Server=DESKTOP-HUE\HUESQL2017EX;Database=TestDB;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>